In [1]:
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017')
database = client['email_spam']
db = database.get_collection("spam")
import pandas as pd
df = pd.DataFrame(list(db.find()))

In [2]:
df

,_id,class,message
0,64532633b0c9adf3e9e3dcf2,ham,"Go until jurong point, crazy.. Available only ..."
1,64532633b0c9adf3e9e3dcf3,ham,Ok lar... Joking wif u oni...
2,64532633b0c9adf3e9e3dcf4,spam,Free entry in 2 a wkly comp to win FA Cup fina...
3,64532633b0c9adf3e9e3dcf5,ham,U dun say so early hor... U c already then say...
4,64532633b0c9adf3e9e3dcf6,ham,"Nah I don't think he goes to usf, he lives aro..."
...,...,...,...
5567,64532633b0c9adf3e9e3f2b1,spam,This is the 2nd time we have tried 2 contact u...
5568,64532633b0c9adf3e9e3f2b2,ham,Will �_ b going to esplanade fr home?
5569,64532633b0c9adf3e9e3f2b3,ham,"Pity, * was in mood for that. So...any other s..."
5570,64532633b0c9adf3e9e3f2b4,ham,The guy did some bitching but I acted like i'd...
5571,64532633b0c9adf3e9e3f2b5,ham,Rofl. Its true to its name